Node-RED/flows.json
[{"id":"a68b460c7cb2c5b3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21cdf84eb7666cd4","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"/hello-world","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["17f9c70568bd8c46"]]},{"id":"fd52461d2dcacfc7","type":"comment","z":"a68b460c7cb2c5b3","name":"HTTP Endpoint Example","info":"","x":130,"y":100,"wires":[]},{"id":"17f9c70568bd8c46","type":"change","z":"a68b460c7cb2c5b3","name":"create Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello, World!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":160,"wires":[["19316dac4d7022b2"]]},{"id":"19316dac4d7022b2","type":"http response","z":"a68b460c7cb2c5b3","name":"","statusCode":"200","headers":{},"x":500,"y":160,"wires":[]},{"id":"3b19c11ce044e751","type":"comment","z":"a68b460c7cb2c5b3","name":"show Request on Console (at /show-request)","info":"","x":190,"y":220,"wires":[]},{"id":"6ef2072a8470ed71","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"show-request","method":"get","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["7860b328926aa62d","1081fc61bdcdf351"]]},{"id":"a1cc7b1b1831f5cd","type":"http response","z":"a68b460c7cb2c5b3","name":"","statusCode":"200","headers":{},"x":520,"y":440,"wires":[]},{"id":"1e995a639261be26","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"show-request","method":"post","upload":true,"swaggerDoc":"","x":110,"y":320,"wires":[["7860b328926aa62d","1081fc61bdcdf351"]]},{"id":"bedb272dbd0bab27","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"show-request","method":"put","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["7860b328926aa62d","1081fc61bdcdf351"]]},{"id":"cc3dd3e662f6769f","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"show-request","method":"delete","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["7860b328926aa62d","1081fc61bdcdf351"]]},{"id":"b01e9d1db5485fc7","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"show-request","method":"patch","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["7860b328926aa62d","1081fc61bdcdf351"]]},{"id":"7860b328926aa62d","type":"debug","z":"a68b460c7cb2c5b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"'see console'","statusType":"jsonata","x":350,"y":280,"wires":[]},{"id":"1081fc61bdcdf351","type":"change","z":"a68b460c7cb2c5b3","name":"create Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"(see Node-RED debug console)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["a1cc7b1b1831f5cd"]]},{"id":"02625fa57b810b92","type":"comment","z":"a68b460c7cb2c5b3","name":"Node-RED does not like \"null\" responses","info":"","x":320,"y":480,"wires":[]},{"id":"199b22c34871e556","type":"comment","z":"a68b460c7cb2c5b3","name":"Examples for Servers without specific Domains","info":"","x":200,"y":40,"wires":[]},{"id":"63fbe15166ae53bb","type":"comment","z":"a68b460c7cb2c5b3","name":"Examples for Servers with specific Domains (e.g., local-server.org)","info":"","x":260,"y":560,"wires":[]},{"id":"40a88187a58c6717","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"local-server.org/hello-world","method":"get","upload":false,"swaggerDoc":"","x":150,"y":680,"wires":[["73538576a1fad326"]]},{"id":"486d16e435898bd7","type":"comment","z":"a68b460c7cb2c5b3","name":"HTTP Endpoint Example","info":"","x":130,"y":620,"wires":[]},{"id":"73538576a1fad326","type":"change","z":"a68b460c7cb2c5b3","name":"create Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello, World!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":740,"wires":[["78a71aeab092b1a7"]]},{"id":"78a71aeab092b1a7","type":"http response","z":"a68b460c7cb2c5b3","name":"","statusCode":"200","headers":{},"x":520,"y":740,"wires":[]},{"id":"f52e2d15b13fcb10","type":"comment","z":"a68b460c7cb2c5b3","name":"show Request on Console (at /show-request)","info":"","x":190,"y":800,"wires":[]},{"id":"595cce94df1623c0","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"local-server.org/show-request","method":"get","upload":false,"swaggerDoc":"","x":160,"y":860,"wires":[["61269aa63b5e3e66","c6962d0b01be90e5"]]},{"id":"39202932731c29ce","type":"http response","z":"a68b460c7cb2c5b3","name":"","statusCode":"200","headers":{},"x":520,"y":1020,"wires":[]},{"id":"f2f5a7750bae902f","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"local-server.org/show-request","method":"post","upload":true,"swaggerDoc":"","x":160,"y":900,"wires":[["61269aa63b5e3e66","c6962d0b01be90e5"]]},{"id":"cde57e3993db7b5a","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"local-server.org/show-request","method":"put","upload":false,"swaggerDoc":"","x":160,"y":940,"wires":[["61269aa63b5e3e66","c6962d0b01be90e5"]]},{"id":"802cd607f1cdbb73","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"local-server.org/show-request","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":980,"wires":[["61269aa63b5e3e66","c6962d0b01be90e5"]]},{"id":"5d62e05b591a0141","type":"http in","z":"a68b460c7cb2c5b3","name":"","url":"local-server.org/show-request","method":"patch","upload":false,"swaggerDoc":"","x":170,"y":1020,"wires":[["61269aa63b5e3e66","c6962d0b01be90e5"]]},{"id":"61269aa63b5e3e66","type":"debug","z":"a68b460c7cb2c5b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"'see console'","statusType":"jsonata","x":490,"y":860,"wires":[]},{"id":"c6962d0b01be90e5","type":"change","z":"a68b460c7cb2c5b3","name":"create Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"(see Node-RED debug console)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":960,"wires":[["39202932731c29ce"]]},{"id":"e0e4dfabd6383880","type":"comment","z":"a68b460c7cb2c5b3","name":"Node-RED does not like \"null\" responses","info":"","x":320,"y":1060,"wires":[]}]